{% extends 'base.html' %} {% load static %} {% block home %}
<title>Sports | Edit Player</title>
<center>
    <p>Edit player</p>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-field">
            <input type="text" name="name" id="name" value="{{player.name}}">
            <label for="name">Name</label>
        </div>
        <div class="input-field">
            <input type="file" name="pic" id="pic">
            <label for="pic">Image</label>
        </div>
        <div class="input-field">
            <input type="submit" value="submit">
        </div>
    </form>
</center>
{%endblock%}